<main>
    <br>
    <div class="card-wide" id ="left">
        <h2>Review Image</h2>
        <img src="/reviews/reviewPic/{{reviewId}}" onerror="this.style.display='none'" alt="Review Picture" class="profileIcon">
    </div>
    <div class="card-wide" id="right">
        <h2>Edit Review</h2>
        <form if="edit-review" action="/reviews/{{reviewId}}/edit" enctype="multipart/form-data" method="post">
            <label for="rating"><h4>Rating</h4>
                <input type="number" id="rating" name="rating" value={{rating}} class="inputFields">
            </label>
            <br>
            <label for="reviewText"><h4>Review Text</h4>
                <input type="text" id="reviewText" name="reviewText" value="{{reviewText}}" class="inputFields">
            </label>
            <input type="file" name="picture" accept="image/*" class=""/>
            <button type="submit" class="btn">Confirm</button>
        </form>
    </div>
    <div>
        {{#if hasError}}
        <div class="error">
            <ul>
                {{#each error}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
</main> 