<main>
    <div class="card-full">
        <h1>{{firstName}} {{lastName}} </h1>
        <img src="{{profilePicture}}" alt="Profile Picture">
        <p>{{email}}</p>
        <p>{{city}}</p>
        <p>{{state}}</p>
        <p>{{age}}</p>
    </div>

    <div class="card-full">
        <h2>Edit Profile</h2>
        <form if="edit-profile" action="/users/myprofile" method="post">
            <label for="firstName">
                <input type="text" id="firstName" name="firstName" class="inputFields" placeholder="First Name">
            </label>
            <label for="lastName">
                <input type="text" id="lastName" name="lastName" class="inputFields" placeholder="Last Name">
            </label>
            <div class="inputFields">
                <label for="profilePicture"> 
                    <p>Profile Picture</p>
                    <input type="file" id="profilePicture" name="profilePicture">
                </label>
            </div>

            <label for="email">
                <input type="text" id="email" name="email" class="inputFields" placeholder="Email">
            </label>
            <label for="city">
                <input type="text" id="city" name="city" class="inputFields" placeholder="City">
            </label>
            <label for="state">
                <input type="text" id="state" name="state" class="inputFields" placeholder="State">
            </label>
            <label for="age">
                <input type="text" id="age" name="age" class="inputFields" placeholder="Age">
            </label>
            <label for="password">
                <input type="text" id="password" name="password" class="inputFields" placeholder="Password">
            </label>
            <label for="confirm">
                <input type="text" id="confirm" name="confirm" class="inputFields" placeholder="Confirm Password">
            </label>
            <label>
                <button type="submit" class = "btn">Confirm</button>
            </label>
        </form>

        <div>
            {{#if hasErrors}}
                <ul class="error">
                    {{#each errors}}
                        <li>
                            {{this}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>

    </div>
</main>