<main>
    <div class="card-full">
        <h1>{{firstName}} {{lastName}} </h1>
        <img src="../{{profilePicture}}" alt="Profile Picture">
        <p>{{email}}</p>
        <p>{{city}}</p>
        <p>{{state}}</p>
        <p>{{age}}</p>
        <p><a href="/users/myprofile" class="btn">Edit Profile</a></p>
        <br>
        <h2>Reviews</h2>
        {{#each reviews}}
        <div>
            <h3><a href="/restaurants/{{this.restaurant._id}}">{{this.restaurant.name}}</a></h3>
            <p><a href="/reviews/{{this.review._id}}">Your Rating: {{this.review.rating}}</a></p>
            <p>{{this.review.reviewText}}</p>
            <p><a href="/reviews/{{this.review._id}}/edit">Edit Review</a></p>
            <p><a href="../reviews/{{this.restaurant._id}}/{{this.review._id}}/delete">Delete Review</a></p>
            <br/>
        </div>
        {{/each}}
    </div>
</main>