<main>
    <div class="card-wide" id ="sticky">
        <h1>{{restaurant.name}}</h1>
        <p class = "category">{{restaurant.category}}</p>
        <p>{{restaurant.address}}</p>
        <p>{{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}</p>
        <p class="avg">{{restaurant.rating}}/5 ({{restaurant.reviews.length}} Reviews)</p>
        <p><a href="https://{{restaurant.website}}">More Info!</a></p>
        <div id="gmap" style="height:400px; width:100%;"></div> <!-- Some restaurants already have a pin on Google maps, and manual pin is somewhat inaccurate due to our estimation -->
    </div>
    
    <div class="card-wide" id="right">
        <h2>Reviews</h2>
        {{#each reviews}}
            <div class = "reviews">
                <div class = "card-full">
                    <div class="reviewHeading">
                        <div class="reviewerName">
                            <div class="reviewerIcon">
                            <img src="/users/profilepic/{{this.user._id}}" onerror="this.src='/public/images/Avatar.png'" alt="Profile Picture" class="profileIcon">
                            </div>
                            <h3 class = "p_inline"><a href="/users/{{this.user._id}}">{{this.user.firstName}} {{this.user.lastName}}</a></h3>
                        </div>
                        <div class="reviewerRating">
                            <h3 class = "rating">Rating: {{this.rating}}/5</h3>
                        </div>
                    </div>
                    
                    <p>{{this.reviewText}}</p>
                    
                    {{#if this.isReviewer}}
                        <div class="dropdown">
                            <button class="dropbtn">Options</button>
                            <div class="dropdown-content">
                                <p><a href="../reviews/{{this._id}}/edit">Edit Review</a></p>
                                <p><a href="../reviews/{{this.restaurantId}}/{{this._id}}/delete">Delete Review</a></p>
                            </div>
                        </div>
                    {{/if}}
                    <h4>Comments</h4>
                    <div class = "comments" >
                        {{#if ../userLoggedIn}}
                            <form id="login-form" name ="loginForm" class="form-container" action="/comments/{{../currentUserData._id}}/{{this._id}}/{{this.restaurantId}}/add" method="POST">
                                    <label>
                                        <input type="textarea" name = "commentValue" id = "commentValue" class="inputFields" placeholder="Write a comment..." rows="3" required/> 
                                    </label>
                                    <button type="submit" class="btn">Submit</button>
                            </form>
                        {{/if}}
                        {{#each this.commentList}}
                            <div class = "card-full" id="white-card">
                                <p class = "p_inline"><a href="../users/{{this.user._id}}">{{this.user.firstName}} {{this.user.lastName}}</a></p>
                                <p id = "comment-value-tag-{{@index}}">{{this.commentText}}</p>
                                {{#if this.isCommenter}}
                                    <form id="comment-form-{{@index}}" name ="loginForm" class="comment-container" action="/comments/{{this.restaurantId}}/{{this._id}}/edit" method="POST">
                                        <label>
                                            <input type="textarea" name = "commentValue" id = "commentValue" class="inputFields" placeholder="Edit your comment..."required/> 
                                        </label>
                                        <button type="submit" class="btn">Post!</button>
                                        <button type="button" class="btn cancel" onclick="javascript:commentBoxEditForm('{{@index}}');">Cancel</button>
                                    </form>
                                    <div class="dropdown">
                                        <button class="dropbtn">Options</button>
                                        <div class="dropdown-content">
                                            <p><a href="javascript:commentBoxEditForm('{{@index}}');">Edit Comment</a></p>
                                            <p><a href="/comments/{{this.restaurantId}}/{{this._id}}/delete">Delete Comment</a></p>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    {{#if userLoggedIn}}
        {{#if currentUserData.reviewedRestaurantPage}}
            <button class="open-button" onclick="openAlert()">Post a Review</button>
        {{else}}
            <button class="open-button" onclick="openForm()">Post a Review</button>
        {{/if}}
    {{else}}
        <button class="open-button" onclick="openLoginForm()">Post a Review</button>
    {{/if}}
    <div class="form-popup" id="myForm">
        <h2>Post a Review</h2>
        <form id="login-form" name ="loginForm" class="form-container" action="/reviews/{{restaurant._id}}/add" method="POST">
            <label>
                <input type="text" name="rating" id="rating" class = "inputFields" pattern="\d+" placeholder="Enter your Rating" required/> 
            </label>
            <label>
                <input type="text" name="reviewText" id="reviewText" class = "inputFields" placeholder="Enter your Review" required/>
            </label>
            <button type="submit" class="btn">Post!</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>
    <div class="form-popup" id="myLoginForm">
        <h2>Login to post a review!</h2>
        <form id="login-form" name ="loginForm" class="form-container" action="javascript:void(0);">
            <button type="submit" class="btn" id="routeToLogin">Login</button>
            <button type="button" class="btn cancel" onclick="closeLoginForm()">Cancel</button>
        </form>
    </div>
    <div class="form-popup" id="myAlert">
        <p>You have already Posted a Review! <br> You can edit your Review Above.</p>
        <form id="login-form" name ="loginForm" class="form-container" action="javascript:void(0);">
            <button type="button" class="btn cancel" onclick="closeAlert()">Close</button>
        </form>
    </div>
    <div>
        {{#if hasError}}
        <div class="error">
            <ul>
                {{#each error}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </div>
    
    <script src="/public/javascript/maps.js" latitude={{restaurant.latitude}} longitude={{restaurant.longitude}}></script>
    <script src="/public/javascript/forms.js"></script>
</main>