<main>
    <div class="card-wide" id ="sticky">
        <h1>{{restaurant.name}}</h1>
        <p class = "category">{{restaurant.category}}</p>
        <p>{{restaurant.address}}</p>
        <p>{{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}</p>
        <div id="gmap"></div> <!-- Some restaurants already have a pin on Google maps, and manual pin is somewhat inaccurate due to our lat/long estimation -->
    </div>
    
    <div class="card-wide" id="right">
        <h3>Reviews</h3>
        {{#each reviews}}
            <div class = "reviews">
                <div class = "card-full">
                    <div class="reviewHeading">
                        <div class="reviewerName">
                            <p class = "p_inline"><a href="/users/{{this.user._id}}">{{this.user.firstName}} {{this.user.lastName}}</a></p>
                        </div>
                        <div class="reviewerRating">
                            <p class = "rating">Rating: {{this.rating}}/5</p>
                        </div>
                    </div>
                    <div class = "reviewText">
                        <p>{{this.reviewText}}</p>
                    </div>
                    {{#if this.isReviewer}}
                        <div class="dropdown">
                            <button class="dropbtn">Menu</button>
                            <div class="dropdown-content">
                                <p><a href="../reviews/{{this._id}}/edit">Edit Review</a></p>
                                <p><a href="../reviews/{{this.restaurantId}}/{{this._id}}/delete">Delete Review</a></p>
                            </div>
                        </div>
                    {{/if}}
                    <h3>Comments</h3>
                    <div class = "comments">
                        {{!-- <button class = "btn" onclick="openCommentBox()">Add a Comment</button> --}}
                        <div>
                            <form id="login-form" name ="loginForm" class="form-container" action="/comments/{{../currentUserData._id}}/{{this._id}}/{{this.restaurantId}}/add" method="POST">
                                <label>
                                    <input type="textarea" name = "commentValue" id = "commentValue" class="inputFields" placeholder="Write a comment..."/> 
                                </label>
                                <button type="submit" class="btn">Post!</button>
                            </form>
                        </div>
                        {{#each this.commentList}}
                            <div class = "card-full">
                                <p class = "p_inline">{{this.user.firstName}} {{this.user.lastName}}</p>
                                <p>{{this.commentText}}</p>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    {{#if userLoggedIn}}
        {{#if loggedInReviewer}}
            <button class="open-button" onclick="openAlert()">Post a Review</button>
        {{else}}
            <button class="open-button" onclick="openForm()">Post a Review</button>
        {{/if}}
    {{else}}
        <button class="open-button" onclick="openLoginForm()">Post a Review</button>
    {{/if}}
    <div class="form-popup" id="myForm">
        <h2>Post a Review</h2>
        <form id="login-form" name ="loginForm" class="form-container" action="/reviews/{{restaurant._id}}/add" method="POST">
            <label>
                <input type="text" name="rating" id="rating" class = "inputFields" pattern="\d+" placeholder="Enter your Rating" /> 
            </label>
            <label>
                <input type="text" name="reviewText" id="reviewText" class = "inputFields" placeholder="Enter your Review" />
            </label>
            <button type="submit" class="btn">Post!</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>
    <div class="form-popup" id="myLoginForm">
        <h2>Login to post a review!</h2>
        <form id="login-form" name ="loginForm" class="form-container" action="javascript:void(0);">
            <button type="submit" class="btn" id="routeToLogin">Login</button>
            <button type="button" class="btn cancel" onclick="closeLoginForm()">Cancel</button>
        </form>
    </div>
    <div class="form-popup" id="myAlert">
        <p>You have already Posted a Review! <br> You can edit your Review Above.</p>
        <form id="login-form" name ="loginForm" class="form-container" action="javascript:void(0);">
            <button type="button" class="btn cancel" onclick="closeAlert()">Close</button>
        </form>
    </div>
    
    <script src="/public/javascript/maps.js" latitude={{restaurant.latitude}} longitude={{restaurant.longitude}}></script>
    <script src="/public/javascript/forms.js"></script>
</main>