<main>
    <h1>{{restaurant.name}}</h1>
    <p class = "category">{{restaurant.category}}</p>
    <p>{{restaurant.address}}</p>
    <p>{{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}</p>
    <div id="gmap" style="height:400px; width:100%;"></div> <!-- Some restaurants already have a pin on Google maps, and manual pin is somewhat inaccurate due to our estimation -->

<div class = "reviews">
    <h3>Reviews</h3>
    <div class = "card">
        {{#each reviews}}
        <p class = "rating">Rating: {{this.rating}}/5</p>
        <p>{{this.reviewText}}</p>
        <div class = "comments">
            <h4>Comments</h4>
                {{#each this.commentList}}
                <p>{{this.commentText}}</p>
                {{/each}}
        </div>
    </div>
</div>
{{/each}}
<script src="/public/javascript/maps.js" latitude={{restaurant.latitude}} longitude={{restaurant.longitude}}></script>
</main>