<main>
    <h1>Restaurants</h1>
    {{#each restaurants}}
    <div class = "card" onclick="location.href='/restaurants/{{this._id}}';">
        <h3><a href="/restaurants/{{this._id}}">{{this.name}}</a></h3>
        <p class = "category">{{this.category}}</p>
        <p>{{this.address}}</p>
        <p>{{this.city}}, {{this.state}} {{this.zip}}</p>  
        <br/>
    </div>
 
    {{/each}}
</main>