<main>
    <h1>{{restaurant.name}}</h1>
    <p class = "category">{{restaurant.category}}</p>
    <p>{{restaurant.address}}</p>
    <p>{{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}</p>
    <div id="gmap" style="height:400px; width:100%;"></div> <!-- Some restaurants already have a pin on Google maps, and manual pin is somewhat inaccurate due to our estimation -->
    {{#if userLoggedIn}}
        <button class="open-button" onclick="openForm()">Post a Review</button>
    {{else}}
        <button class="open-button" onclick="openLoginForm()">Post a Review</button>
    {{/if}}
    {{!-- <button class="open-button" onclick="openForm()">Post a Review</button> --}}
    <div class="form-popup" id="myForm">
        <h2>Post a Review</h2>
        <form id="login-form" name ="loginForm" class="form-container" action="/reviews/{{restaurant._id}}/add" method="POST">
            <label>
                <input type="text" name="rating" id="rating" class = "inputFields" pattern="\d+" placeholder="Enter your Rating" /> 
            </label>
            <label>
                <input type="text" name="reviewText" id="reviewText" class = "inputFields" placeholder="Enter your Review" />
            </label>
            <button type="submit" class="btn">Post!</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>
    <div class="form-popup" id="myLoginForm">
        <h2>Login to post a review!</h2>
        <form id="login-form" name ="loginForm" class="form-container" action="javascript:void(0);">
            <button type="submit" class="btn" id="routeToLogin">Login</button>
            <button type="button" class="btn cancel" onclick="closeLoginForm()">Cancel</button>
        </form>
    </div>
    <h3>Reviews</h3>
    {{#each reviews}}
        <div class = "reviews">
            <div class = "card">
                <p class = "rating">Rating: {{this.rating}}/5</p>
                <p>{{this.reviewText}}</p>
                {{#if this.isReviewer}}
                <p><a href="../reviews/{{this._id}}/edit">Edit Review</a></p>
                {{/if}}
                <div class = "comments">
                    <h4>Comments</h4>
                    {{#each this.commentList}}
                        <p>{{this.commentText}}</p>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
    <script src="/public/javascript/maps.js" latitude={{restaurant.latitude}} longitude={{restaurant.longitude}}></script>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

        function openLoginForm() {
            document.getElementById("myLoginForm").style.display = "block";
        }

        function closeLoginForm() {
            document.getElementById("myLoginForm").style.display = "none";
        }
        
        document.getElementById("routeToLogin").onclick = function () {
            location.href = "/users/login";
        };
    </script>
</main>