<main>
    <h3>{{name}}</h3>
    <p>{{category}}</p>
    <p>{{address}}</p>
    <p>{{city}}, {{state}} {{zip}}</p>
</main>
<!-- All reviews for a given ID need to retrieved in the route logic and passed here to be used in a for each loop -->
