<main>
    <!-- We should consider having review titles, otherwise rating will be header -->
    <div class="card-full">
        <p>{{user.firstName}} {{user.lastName}}</p>
        <p>Rating: {{review.rating}}/5</p>
        <p>{{review.reviewText}}</p>
        {{#if isReviewer}}
            <p><a href="/reviews/{{id}}/edit">Edit Review</a></p>
        {{/if}}
    </div>
</main>