<main>
    <div class="card-full">
        <h1>{{firstName}} {{lastName}} </h1>
        <img src="{{profilePicture}}">
        <br>
        <h2>Reviews</h2>
        {{#each reviews}}
        <div>
            <h3><a href="/restaurants/{{this.restaurant._id}}">{{this.restaurant.name}}</a></h3>
            <p><a href="/reviews/{{this.review._id}}">{{this.review.rating}}</a></p>
            <p>{{this.review.reviewText}}</p>
            <br/>
        </div>
        {{/each}}
    </div>
</main>