<main>
    <div class="card-wide" id ="sticky">
        <h1>{{firstName}} {{lastName}} </h1>
        <img class="profile-pic" src="/users/profilepic/{{id}}" onerror="this.src='/public/images/Avatar.png'" alt="Profile Picture">
        <h1>{{state}}</h1>
    </div>
    
    <div class="card-wide" id="right">
        <h2>Reviews</h2>
        {{#each reviews}}
        <div>
            <div class="card-full">
                <div class="reviewHeading">
                    <div class="reviewerName">
                        <p class = "restaurant_name"><a href="/restaurants/{{this.restaurant._id}}">{{this.restaurant.name}}</a></p>
                    </div>
                    <div class="reviewerRating">
                        <p class = "restaurant_rating"><a href="/reviews/{{this.review._id}}">Rating: {{this.review.rating}}</a></p>
                    </div>
                </div>
                <div class = "reviewText">
                    <p>{{this.review.reviewText}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>